
	body {
		background-color: #66342b;
		color: white;
	}

	form {
		margin-top: 20%;
	}

	.project-btn {
		background-color: #804136;
		margin-right: 2px;
	}

	.project-div {
		background-color: #804136;
		border-radius: 4px;
		margin: 10px 0px;
		width: 100%;
	}